.about {
  height: fit-content;
  .hero {
    @include backgroundObjectImage(100%, 60vh);
    filter: brightness(0.8);
  }
  .intro-about {
    @include grid(49% 49%);
    gap: 2%;
    @include pageSectionPadding;
    @include media($md) {
      @include flex(column, center, center);
    }
    .left-content,
    .right-content {
      @include flex(column, flex-start, center);
      gap: 1vh;

      p {
        @include paragraphFont;
      }
    }
  }
  h1 {
    font-family: $headingFontFamily;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: $darkGray;
  }

  .what-we-want {
    @include pageSectionPadding;
    @include flex(column, center, center);
    border-top: 2px solid $lightGray;
    margin-top: 5vh;
    p {
      width: 80%;
      @include media($sm) {
        width: 90%;
      }
      @include media($xs) {
        width: 100%;
      }
      @include paragraphFont;
      text-align: justify;
    }
  }
  .cards {
    @include pageSectionPadding;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 5vh;
    justify-content: space-around;
    @include media($md) {
      @include flex(column, center, center);
    }
    .card {
      width: 48%;

      @include media($md) {
        width: 80%;
      }
      @include media($sm) {
        width: 90%;
      }
      @include media($xs) {
        width: 96%;
      }
      @include media($xxs) {
        width: 100%;
      }
      h3 {
        margin: 1vh 0;
      }
    }
  }
}
