.footer {
  min-height: 8vh;
  height: fit-content;
  width: 100%;
  background-color: $darkGray;
  color: $white;
  font-family: $fontFamily;
  position: absolute;
  bottom: 0;
  @include flex(row, space-between, center);
  gap: 2rem;
  padding: 2vh 10vw;
  @include media($xs) {
    @include flex(column, center, center);
    padding: 5vh 0vw;
  }
  .left-content {
    @include flex(column, center, center);
    img {
      width: 100px;
      height: auto;
    }
  }

  .right-content {
    @include flex(column, center, center);
    gap: 1vh;
    a {
      text-decoration: none;
      font-size: $linkFS;
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}
