.navbar {
  min-height: 8vh;
  height: fit-content;
  z-index: 1000;
  height: fit-content;
  width: 100%;
  background-color: $darkGray;
  transition-property: max-height;
  transition-timing-function: ease-in;
  transition-duration: 500ms;
  position: fixed;
  max-height: 50vh;
  top: 0;
  @include pageAnimation;
  @include flex(row, space-between, center);
  padding: 1vh 5vw;
  @include media($md) {
    padding: 0.2vh 2vw;
  }
  &:active {
    max-height: fit-content;
  }
  .logo {
    @include flex(row, center, center);
    height: fit-content;
    width: fit-content;
    @include media($xs) {
      display: block;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
    img {
      height: 8vh;
      width: auto;
    }
  }
  .navigation {
    @include flex(column, center, center);
    height: fit-content;
    .hamburger {
      background-color: transparent;
      border: none;
      position: fixed;
      cursor: pointer;
      top: 1rem;
      right: 2vw;
      color: $white;
      transition-property: transform;
      transition-duration: 200ms;
      transition-timing-function: ease-in;
      &:active {
        transform: rotate(360deg);
      }
    }
    .links {
      @include flex(row, space-around, center);
      height: 8vh;
      width: fit-content;
      gap: 3rem;
      @include media($md) {
        height: fit-content;
        @include flex(column, flex-end, flex-end);
        padding: 5rem 0rem 1rem 0;
        gap: 1rem;
      }
      .languages {
        @include flex(row, space-around, center);
        gap: 1vw;
        span {
          font-size: 1.6rem;
          color: $white;
          font-weight: 400;
        }
        div {
          @include backgroundObjectImage(40px, 20px);
          cursor: pointer;
        }
      }
      button {
        background-color: transparent;
        border: none;
        color: $white;
        font-size: $linkFS;
        cursor: pointer;
        font-weight: 500;
        transition-property: border, transform;
        transform: scale(1);
        transition-duration: 100ms;
        transition-timing-function: ease-in;
        &:hover {
          border-bottom: 1px solid $white !important;
          transform: scale(1.02);
          @include media($md) {
            transform: scale(1);
          }
        }
        &:focus,
        &:active {
          border: none;
        }
      }
    }
  }
}
