.form {
  height: fit-content;
  width: 90%;
  @include flex(column, space-between, center);
  border: 1px solid $lightGray;
  background-color: rgba(245, 222, 179, 0.103);
  border-radius: 10px;
  gap: 2vh;
  padding: 2rem;
  @include media($md) {
    width: 100%;
    padding: 1rem;
  }
  @include media($xxs) {
    padding: 1rem;
  }
  h1 {
    font-family: $headingFontFamily;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: $darkGray;
    margin: 2vh 0;
  }

  input {
    width: 100%;
    border-radius: 5px;
    @include paragraphFont;
    border: 1px solid $lightGray;
    padding: 0.4rem 1rem;
    color: $darkGray;
    &:focus,
    &:active {
      border: 1px solid $lightGray;
      outline: none;
    }
  }
  input:-webkit-autofill {
    -webkit-text-fill-color: $darkGray;
  }
  textarea {
    width: 100%;
    border-radius: 10px;
    @include paragraphFont;
    border: 1px solid $lightGray;
    color: $darkGray;
    resize: none;
    padding: 0.4rem 1rem;
    min-height: 20vh;
    height: fit-content;
    &:focus,
    &:active {
      border: 1px solid $lightGray;
      outline: none;
    }
  }
  button {
    font-family: $fontFamily;
    font-size: $linkFS;
    background-color: $darkGray;
    text-decoration: none;
    color: $white;
    cursor: pointer;
    border-radius: 10px;
    padding: 0.5rem 2rem;
    &:hover {
      text-decoration: none;
    }
  }
}
