.hero {
  @include backgroundObjectImage(100%, 90vh);
  @include flex(column, flex-start, flex-start);
  padding: 15vh 5vw;
  gap: 2vh;
  @include media($md) {
    @include backgroundObjectImage(100%, 100vh);
    @include flex(column, flex-start, center);
    padding: 25vh 0vw;
  }
  p {
    color: $white;
    font-size: 1.8rem;
    font-style: italic;
    position: relative;
    font-family: $fontFamily;
    left: 1vw;
    @include media($xs) {
      left: 0vw;
      text-align: center;
      width: 96%;
    }
  }
  h1 {
    font-family: $headingFontFamily;
    font-size: 3.5rem;
    text-align: center;
    color: $white;
    text-shadow: 2px 2px $black;
    @include media($xs) {
      font-size: 2.5rem;
      text-align: center;
      width: 96%;
    }
  }
}
