.offer {
  height: fit-content;
  @include flex(column, center, center);
  @include fadeAnimation(0.4s, 0.1s);
  .offer-cards {
    @include pageSectionPadding;
    @include flex(column, center, center);
    gap: 5vh;
  }
  .additional-offer-information {
    @include flex(column, center, center);
    gap: 5vh;
    h3 {
      font-size: 1.4rem;
    }
    .lists {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      @include media($xs) {
        @include flex(column, center, center);
      }
      gap: 1rem;
      padding: 2vh 2vw;
      .list {
        width: 400px;
        @include flex(column, flex-start, center);
        min-height: 25vh;
        height: fit-content;
        @include media($lg) {
          width: 350px;
          min-height: 30vh;
        }
        @include media($sm) {
          width: 300px;
        }
        @include media($xs) {
          width: 350px;
        }
        @include media(400px) {
          width: 96%;
        }
        gap: 2vh;
        h4 {
          font-size: 1.2rem;
          text-align: left;
          width: 80%;
        }
        ul {
          width: 80%;
          @include media($xs) {
            width: 90%;
          }
          li {
            @include paragraphFont;
          }
        }
      }
    }
  }
  .note {
    @include media($sm) {
      @include backgroundObjectImage(100%, 50vh);
    }
    h1 {
      font-size: 1.4rem;
      font-weight: 400;

      @include media($xs) {
        font-size: 1rem;
      }
    }
  }
}
