.home {
  height: fit-content;
  .intro-home {
    @include grid(49% 49%);
    gap: 2%;
    @include pageSectionPadding;
    @include media($md) {
      @include flex(column, center, center);
    }
    .left-content,
    .right-content {
      @include flex(column, flex-start, center);
      gap: 1vh;

      p {
        @include paragraphFont;
      }
    }
  }
  h1 {
    font-family: $headingFontFamily;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 400;
    color: $darkGray;
    @include media($xs) {
      width: 96%;
    }
  }

  .services {
    @include pageSectionPadding;
    border-top: 2px solid $lightGray;
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 5vh;
    justify-content: space-around;
    @include media($md) {
      @include flex(column, center, center);
    }
  }
}
