.layout {
  width: 100%;
  height: fit-content;
  @include flex(column, none, none);
  position: relative;
  @import "./components/Footer/Footer";
  @import "./components/Navbar/Navbar";
  .app {
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 10vh 0 15vh 0;

    @include media($md) {
      padding: 8vh 0 40vh 0;
    }
  }
}
