.team-member-card {
  background-color: $cardBgColor;
  border-radius: 20px;
  padding: 2rem 1rem;
  position: relative;
  @include boxShadow;
  @include flex(column, flex-start, center);
  min-height: 12vh;
  gap: 1vh;
  @include media($xxl) {
    width: 32%;
  }
  @include media($lg) {
    width: 45%;
  }
  @include media($md) {
    width: 48%;
  }
  @include media(700px) {
    width: 96%;
  }
  @include media($xxs) {
    width: 100%;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 900;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  a {
    @include paragraphFont;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
