.map {
  height: fit-content;
  width: 100%;
  @include flex(column, center, center);
  @include pageSectionPadding;
  gap: 5vh;
  h1 {
    @include flex(row, center, center);
    font-family: $headingFontFamily;
    font-size: 2.2rem;
    text-align: center;
    font-weight: 400;
    color: $darkGray;
  }
  iframe {
    min-height: 60vh;
    width: 70%;
    border: none;
    @include media($md) {
      width: 80%;
    }
    @include media($sm) {
      width: 90%;
    }
    @include media($md) {
      width: 96%;
    }
    .place-card-large {
      display: none !important;
    }
    .gmnoprint {
      button {
        display: none !important;
      }
    }
  }
}
