@mixin flex($direction, $justifyContent, $alignItems) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
@mixin buttonStyle {
  font-size: $linkFS;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  cursor: pointer;
}
@mixin media($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
@mixin backgroundObjectImage($width, $height) {
  background-position: center;
  background-size: cover;
  width: $width;
  height: $height;
}
@mixin grid($templateColumns) {
  display: grid;
  grid-template-columns: $templateColumns;
}
@mixin pageSectionPadding {
  padding: 10vh 10vw;
  @include media($xs) {
    padding: 10vh 4vw;
  }
}
